
<div class="highlight-card" *transloco="let t" style="margin: 20px">
  <h2 style="text-align: center">{{ t('app.pricing.status') }}</h2>
  <h4>{{ t('app.pricing.context') }}</h4>
</div>

<div class="card-list">

  <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="'app.products.portraits' | transloco" nzDescription="₹19,999"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
  </ng-template>

  <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate1">
    <nz-card-meta [nzTitle]="'app.products.wedding' | transloco" nzDescription="₹49,999"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate1>
    <img alt="example" src="https://picsum.photos/seed/picsum2/200/250" />
  </ng-template>


  <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate2">
    <nz-card-meta [nzTitle]="'app.products.babyshoot' | transloco" nzDescription="₹30,999"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate2>
    <img alt="example" src="https://picsum.photos/seed/picsum3/200/250" />
  </ng-template>



</div>
