
<ng-container *transloco="let t">
  <div class="toolbar" role="banner">
    <a [routerLink]="['/home']">
      <div class="logo">  </div>
    </a>

    <div class="menu">
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{t('app.products.title')}}
        <i nz-icon nzType="down"></i>
      </a>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>{{t('app.products.portraits')}}</li>
          <li nz-menu-item>{{t('app.products.wedding')}}</li>
          <li nz-menu-item>{{t('app.products.babyshoot')}}</li>
        </ul>
      </nz-dropdown-menu>

      <a href="pricing" [routerLink]="['/pricing']">
        {{t('app.pricing.title')}}
      </a>
    </div>

    <div class="spacer">
      <nz-select [(ngModel)]="selectedValue" (ngModelChange)="onLanguageChange()" nzAllowClear nzPlaceHolder="Choose">
        <nz-option nzValue="en" nzLabel="English"></nz-option>
        <nz-option nzValue="ja" nzLabel="日本語"></nz-option>
        <nz-option nzValue="fr" nzLabel="Français"></nz-option>
      </nz-select>
    </div>
  </div>
  <div class="content" role="main">
    <router-outlet></router-outlet>
  </div>
</ng-container>
